h3,
h1 {
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
}

.grid {
  height: 560px;
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-top: 50px;
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  color: white;
}

.grid div {
  height: 70px;
  width: 70px;
}
body {
  background-image: url(images/snow-background.png);
  display: flex;
}

.score-board {
  background-color: green;
  height: 100px;
  width: 100px;
  text-align: justify;
  background-size: auto;
  opacity: 0.7;
  padding: 50px;
  margin: 50px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
